<%= render 'shared/alert' %>

<h3>Administration</h3>

<%= render 'booking_admin_form_file_list' if @booking.files.any?%>

<br>

<p>Contract Value: $<%= '%2.f' % @booking.contract_value %></p>

<%= form_for [ :admin, @booking ] do |f| %>

  <!-- BOOKING STATUS -->
  <%= render partial: 'booking_admin_form_part_1', locals: { f: f } %>

  <!-- BOOKING SHIFT COVERAGE -->
  <%= render partial: 'booking_admin_form_part_2', locals: { f: f } %>

  <!-- FILE UPLOADS -->
  <%= render partial: 'booking_admin_form_part_3', locals: { f: f } %>

  <br>

  <%= f.submit "Save", class: 'btn' %>

<% end %>