<h4>Status</h4>

<%= f.check_box :contract %>
<%= f.label :contract, "Contract Signed?" %><br>

<%= f.check_box :deposit %>
<%= f.label :deposit, "Deposit Paid?" %><br>

<%= f.check_box :paid %>
<%= f.label :paid, "Paid in Full?" %><br>

<br>