<h1>Booking Information</h1>

<br>

<div class = 'row'>

  <div class = 'col'>

    <%= render 'booking_data' %>

    <%= render 'booking_tags' %>

  </div>

  <div class = 'col'>

    <%= render 'booking_admin_form' %>

  </div>

  <div class = 'col'>

    <%= button_to "Edit Booking", edit_admin_booking_path(@booking), method: 'get', class: 'btn' %><br>
  
    <%= button_to "Delete Booking", admin_booking_path(@booking), method: 'delete', class: 'btn' %>
  
  </div>

</div>
