<h1>Booking Information</h1>
<h3><%= @booking.name %></h3>
<p><%= @booking.venue.name %><br>
<%= @booking.date.strftime("%B %-d, %Y") %> at <%= @booking.event_time.strftime("%l:%M %p") %></p>
<h3><%= @booking.organizer.name %></h3>
<p>Organizer</p>
<h3><%= @booking.event_type %></h3>
<p>Type</p>
<h3><%= @booking.attendance %></h3>
<p>Attendance</p>
<h3>Notes</h3>
<p><%= @booking.description ? @booking.description : "No notes." %></p>
<h3>Tags</h3>
<ul>
    <%= content_tag(:li, "Catering") if @booking.catering %>
    <%= content_tag(:li, "Alcohol") if @booking.alcohol %>
    <%= content_tag(:li, "Stage Lighting") if @booking.lighting %>
    <%= content_tag(:li, "Spotlight") if @booking.spotlight %>
    <%= content_tag(:li, "Amplified Sound") if @booking.sound %>
    <%= content_tag(:li, "Microphones") if @booking.microphones %>
    <%= content_tag(:li, "Road Closure") if @booking.road_closure %>
    <%= content_tag(:li, "Event Security") if @booking.security %>
</ul>
<%= button_to "Edit Booking", edit_admin_booking_path(@booking), method: 'get', class: 'btn' %>
<br>
<%= button_to "Delete Booking", admin_booking_path(@booking), method: 'delete', class: 'btn' %>