<h1>Organizers</h1>

<%= content_tag (:div) do %>
    <% current_user.organizers.each do |organizer| %>
        <h3><%= link_to organizer.name, admin_organizer_path(organizer) %></h3>
        <% if organizer.address %>
            <p><%= organizer.address.address_1 %><br>
            <% if !organizer.address.address_2.blank? %>
                <%= organizer.address.address_2 %>
                <br>
            <% end %>
            <%= organizer.address.city %>, <%= organizer.address.state %> <%= organizer.address.zip %><br>
        <% end %>
        URL: <%= organizer.url %>
    <% end %>
<% end %>