<h1><%= @organizer.name %></h1>

<br>

<div class = 'row'>

  <!-- ORGANIZER ADDRESS, TYPE -->
  <%= render 'organizer_data_block_1' %>

  <!-- ORGANIZER POINT OF CONTACT -->
  <%= render 'organizer_data_block_2' %>

  <div class = 'col'>

    <%= button_to "Edit Organizer", edit_admin_organizer_path(@organizer), method: 'get', class: 'btn' %>
  
    <br>
  
    <%= button_to "Delete Organizer", admin_organizer_path(@organizer), method: "delete", class: 'btn' %>

  </div>

</div>