<h1>Venues Overview</h1>

<%= content_tag (:div) do %>
    <% current_user.venues.each do |venue| %>
        <h3><%= link_to venue.name, edit_admin_venue_path(venue) %></h3>
        <% if venue.address %>
            <p><%= venue.address.address_1 %><br>
            <% if venue.address.address_2 %>
                <%= venue.address.address_2 %>
                <br>
            <% end %>
            <%= venue.address.city %>, <%= venue.address.state %> <%= venue.address.zip %></p>
        <% end %>
    <% end %>
<% end %>