<h1>Venues Overview</h1>
<br>
<% current_user.venues.each do |venue| %>
    <%= content_tag(:div, class: 'row') do %>
        <%= content_tag(:div, class: ['col-md-3', 'venue-block-1']) do %>
            <h3><%= link_to venue.name, admin_venue_path(venue) %></h3>
            <% if venue.address %>
                <p><%= venue.address.address_1 %><br>
                <% if !venue.address.address_2.blank? %>
                    <%= venue.address.address_2 %>
                    <br>
                <% end %>
                <%= venue.address.city %>, <%= venue.address.state %> <%= venue.address.zip %></p>
            <% end %>
        <% end %>

        <%= content_tag(:div, class: ['col-md-3', 'venue-block-2']) do %>
            <p>Configuration: <%= venue.configuration %><br>
                Seats: <%= venue.seats %><br>
                Dressing Rooms: <%= venue.dressing_rooms %><br>
                Greenrooms: <%= venue.greenrooms %></p>
        <% end %>

        <%= content_tag(:div, class: ['col-md-3', 'venue-block-3']) do %>
            <p>Next Booking:<br>
            <% next_booking = venue.bookings.select { |b| b.date > Date.today }.sort_by { |b| b.date }.first %>
            <% last_booking = venue.bookings.select { |b| b.date < Date.today }.sort_by { |b| b.date }.last %>
            <%= link_to "#{next_booking.name} on #{next_booking.date.strftime("%B %e, %Y")}", admin_booking_path(next_booking) if next_booking %><br>
            Last Booking:<br>
            <%= link_to "#{last_booking.name} on #{last_booking.date.strftime("%B %e, %Y")}", admin_booking_path(last_booking) if last_booking %></p>
        <% end %>
    <% end %>
<% end %>