<!-- "Employees > Employee Name" -->
<h1><%= link_to "Employees", admin_employees_path %> > <%= @employee.name %></h1>

<br>

<div class = 'row'>

  <!-- EMPLOYEE SHIFT HISTORY -->
  <%= render 'employee_data_block_1' %>

  <!-- EMPLOYEE START DATE, END DATE, RATE -->
  <%= render 'employee_data_block_2' %>

  <div class = 'col'>
  
    <%= button_to "Edit Employee", edit_admin_employee_path(@employee), method: 'get', class: 'btn' %>
  
    <br>
  
    <%= button_to "Delete Employee", admin_employee_path(@employee), method: 'delete', class: 'btn' %>

  </div>
