<% if @inventory.errors.full_messages.any? %>
    <div class="alert alert-danger" role="alert">
        <ul>
        <% @inventory.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<%= form_for [ :admin, @venue, @inventory ] do |f| %>
    <%= content_tag(:div, class: ['form-group', 'row']) do %>
        <%= f.label :name, "Inventory Name", class: ['col-md-2'] %>
        <%= content_tag(:div, class: ['col-md-3']) do %>
            <%= f.text_field :name, class: 'form-control' %>
        <% end %>
    <% end %>
    <%= f.submit class: 'btn' %>
<% end %>