<!-- "Venue Name > Inventory Name" -->
<h1><%= link_to @inventory.venue.name, admin_venue_path(@inventory.venue) %> > <%= @inventory.name %></h1>

<br>

<div class = 'row'>

  <div class = 'col-lg-6'>

    <%= render 'inventory_table' %>

    <br>

    <%= button_to "Add Item", new_admin_venue_inventory_item_path(@venue, @inventory), method: 'get', class: 'btn' %>
  
  </div>

  <div class = 'col-lg-6'>

    <%= button_to "Edit Settings", edit_admin_venue_inventory_path(@venue, @inventory), method: 'get', class: 'btn' %>
      
    <br>

    <%= button_to "Delete Inventory", admin_venue_inventory_path(@venue, @inventory), method: 'delete', class: 'btn' %>

  </div>

</div>