<h3>Point of Contact</h3>
<%= f.fields_for :point_of_contacts do |pcf| %>
  <%= content_tag(:div, class: 'form-row') do %>
    <%= content_tag(:div, class: 'form-group col-md-6') do %>
      <%= pcf.label :name, "Name" %>
      <%= pcf.text_field :name, class: 'form-control' %>
    <% end %>
  <% end %>
  <%= render partial: 'shared/contact', locals: { f: pcf } %>
<% end %>