<h1><%= @venue.name %></h1>

<%= display_address(@venue) %>

<h3><%= @venue.configuration %></h3>
<p>Configuration</p>

<h3><%= @venue.seats %></h3>
<p>Seats</p>

<h3><%= @venue.dressing_rooms %></h3>
<p>Dressing Rooms</p>

<h3><%= @venue.greenrooms %></h3>
<p>Greenrooms</p>
