<% if @venue.errors.full_messages.any? %>
    <div class="alert alert-danger" role="alert">
        <ul>
        <% @venue.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<%= form_for [ :admin, @venue ] do |f| %>
    <%= content_tag(:div, class: ['form-group', 'row']) do %>
        <%= f.label :name, "Venue Name", class: ['col-md-2'] %>
        <%= content_tag(:div, class: ['col-md-2']) do %>
            <%= f.text_field :name, class: 'form-control' %>
        <% end %>
    <% end %>
    <%= content_tag(:div, class: ['form-group', 'row']) do %>
        <%= f.label :configuration, "Configuration", class: ['col-md-2'] %>
        <%= content_tag(:div, class: ['col-md-2']) do %>
            <%= f.select :configuration, ['Proscenium', 'Arena', 'Black Box', 'Flexible', 'Studio', 'Thrust'], class: 'form-control' %>
        <% end %>
    <% end %>
    <%= content_tag(:div, class: ['form-group', 'row']) do %>
        <%= f.label :seats, "Seats", class: ['col-md-2'] %>
        <%= content_tag(:div, class: ['col-md-2']) do %>
            <%= f.number_field :seats, class: 'form-control' %>
        <% end %>
    <% end %>
    <%= content_tag(:div, class: ['form-group', 'row']) do %>
        <%= f.label :greenrooms, "Greenrooms", class: ['col-md-2'] %>
        <%= content_tag(:div, class: ['col-md-2']) do %>
            <%= f.number_field :greenrooms, class: 'form-control' %>
        <% end %>
    <% end %>
    <%= content_tag(:div, class: ['form-group', 'row']) do %>
        <%= f.label :dressing_rooms, "Dressing Rooms", class: ['col-md-2'] %>
        <%= content_tag(:div, class: ['col-md-2']) do %>
            <%= f.number_field :dressing_rooms, class: 'form-control' %>
        <% end %>
    <% end %>
    <%= f.fields_for :address, @venue.address do |af| %>
        <%= content_tag(:div, class: ['form-group', 'row']) do %>
            <%= af.label :address_1, "Address Line 1", class: ['col-md-2'] %>
            <%= content_tag(:div, class: ['col-md-2']) do %>
                <%= af.text_field :address_1, class: 'form-control' %>
            <% end %>
        <% end %>
        <%= content_tag(:div, class: ['form-group', 'row']) do %>
            <%= af.label :address_2, "Address Line 2", class: ['col-md-2'] %>
            <%= content_tag(:div, class: ['col-md-2']) do %>
                <%= af.text_field :address_2, class: 'form-control' %>
            <% end %>
        <% end %>
        <%= content_tag(:div, class: ['form-group', 'row']) do %>
            <%= af.label :city, "City", class: ['col-md-2'] %>
            <%= content_tag(:div, class: ['col-md-2']) do %>
                <%= af.text_field :city, class: 'form-control' %>
            <% end %>
        <% end %>
        <%= content_tag(:div, class: ['form-group', 'row']) do %>
            <%= af.label :state, "State", class: ['col-md-2'] %>
            <%= content_tag(:div, class: ['col-md-2']) do %>
                <%= af.select :state, %w(AL AK AZ AR CA CO 
                                        CT DE FL GA HI ID 
                                        IL IN IA KS KY LA 
                                        ME MD MA MI MN MS 
                                        MO MT NE NV NH NJ 
                                        NM NY NC ND OH OK 
                                        OR PA RI SC SD TN 
                                        TX UT VT VA WA WV 
                                        WI WY), class: 'form-control' %>
            <% end %>
        <% end %>
        <%= content_tag(:div, class: ['form-group', 'row']) do %>
            <%= af.label :zip, "Zip Code", class: ['col-md-2'] %>
            <%= content_tag(:div, class: ['col-md-2']) do %>
                <%= af.text_field :zip, class: 'form-control' %>
            <% end %>
        <% end %>
    <% end %>
    <%= f.submit class: 'btn' %>
<% end %>