<%= render partial: 'shared/errors', locals: { resource: @venue } %>
<%= content_tag(:div, class: 'container') do %>
  <%= form_for [ :admin, @venue ] do |f| %>
    <%= content_tag(:div, class: 'form-row') do %>
      <%= content_tag(:div, class: 'form-group col-lg-6') do %>
        <%= f.label :name, "Venue Name" %>
        <%= f.text_field :name, class: 'form-control', required: true %>
      <% end %>
    <% end %>
    <%= content_tag(:div, class: 'form-row') do %>
      <%= content_tag(:div, class: 'form-group col-lg-3') do %>
        <%= f.label :configuration, "Configuration" %>
        <%= f.select :configuration, ['Proscenium', 'Arena', 'Black Box', 'Flexible', 'Studio', 'Thrust'], {}, class: 'form-control' %>
      <% end %>
      <%= content_tag(:div, class: 'form-group col-lg-3') do %>
        <%= f.label :seats, "Seats" %>
        <%= f.number_field :seats, class: 'form-control', required: true %>
      <% end %>
    <% end %>
    <%= content_tag(:div, class: 'form-row') do %>
      <%= content_tag(:div, class: 'form-group col-lg-3') do %>
        <%= f.label :greenrooms, "Greenrooms" %>
        <%= f.number_field :greenrooms, class: 'form-control', required: true %>
      <% end %>
      <%= content_tag(:div, class: 'form-group col-lg-3') do %>
        <%= f.label :dressing_rooms, "Dressing Rooms" %>
        <%= f.number_field :dressing_rooms, class: 'form-control', required: true %>
      <% end %>
    <% end %>
    <%= render partial: 'shared/address', locals: { resource: @venue, f: f } %>
    <br>
    <h3>Venue Images</h3>
    <%= content_tag(:div, class: 'form-row') do %>
      <%= content_tag(:div, class: 'form-group col-lg-6') do %>
        <%= f.label :images, "Upload Images" %>
        <%= f.file_field :images, multiple: true, class: 'form-control' %>
      <% end %>
    <% end %>
    <%= f.submit class: 'btn' %>
  <% end %>
<% end %>