<h1><%= @venue.name %></h1>
<p>Public URL: <%= link_to "https://www.venuemc.com/venues/#{@venue.slug}", "https://www.venuemc.com/venues/#{@venue.slug}" %></p>

<div class = 'row'>

  <div class = 'col'>

    <!-- VENUE ADDRESS, CONFIGURATION, ATTACHED IMAGES -->
    <%= render 'venue_data_block_1' %>
  
  </div>

  <div class = 'col'>

    <!-- VENUE BOOKINGS -->
    <%= render 'venue_data_block_2' %>

  </div>

  <div class = 'col'>

    <!-- VENUE INVENTORIES -->
    <%= render 'venue_data_block_3' %>
  
  </div>

  <div class = 'col'>

    <%= button_to "Edit Venue Settings", edit_admin_venue_path(@venue), method: 'get', class: 'btn' %>

    <br>
    
    <%= button_to "Delete Venue", admin_venue_path(@venue), method: 'delete', class: 'btn' %>

  </div>

</div>