<h1><%= @venue.name %></h1>
<% if @venue.address %>
    <p><%= @venue.address.address_1 %><br>
    <% if !@venue.address.address_2.blank? %>
        <%= @venue.address.address_2 %>
        <br>
    <% end %>
    <%= @venue.address.city %>, <%= @venue.address.state %> <%= @venue.address.zip %></p>
<% end %>

<p>Configuration: <%= @venue.configuration %><br>
    Seats: <%= @venue.seats %><br>
    Dressing Rooms: <%= @venue.dressing_rooms %><br>
    Greenrooms: <%= @venue.greenrooms %></p>

<%= button_to "Edit Venue Settings", edit_admin_venue_path(@venue), method: 'get', class: 'btn' %>
<br>

<h3>Bookings</h3>
<% if @venue.bookings.any? %>
    <% @venue.bookings.sort_by { |b| b.date }.each do |booking| %>
        <%= link_to "#{booking.organizer.name} - #{booking.date}", admin_booking_path(booking) %><br>
    <% end %>
<% end %>
<br>
<%= button_to "Create Booking", new_admin_booking_path, method: 'get', class: 'btn' %>