<h1>Booking Insights</h1>

<br>

<p>Filter by Type</p>
<%= form_tag(admin_insights_path, method: 'get') do %>
  <%= select_tag :query, options_for_select(%w(Performance Lecture/Workshop Concert Reception/Fundraiser)), include_blank: true %>
  <%= submit_tag 'Filter', class: 'btn' %>
<% end %>

<br>

<%= 'Create bookings in order to view insights.' unless current_user.bookings.any? %>
<%= render 'bookings_by_profit' if current_user.bookings.any? %>

<br>

<h3>Booking Capacities by Venue</h3>
<% current_user.venues.each do |venue| %>
  <%= link_to venue.name, admin_venue_path(venue) %>: <%= venue.booking_capacity %>%<br>
<% end %>

<br>

<h3>Frequent Organizers by Venue</h3>
<% current_user.venues.each do |venue| %>
  <% if venue.bookings.count > 0 %>
    <%= link_to venue.name, admin_venue_path(venue) %>: 
    <%= link_to venue.most_frequent_organizer.name, admin_organizer_path(venue.most_frequent_organizer) %> 
    - <%= venue.most_frequent_organizer_percent %>%<br>
  <% end %>
<% end %>
