<%= render 'shared/alert' %>

<h1>Update Account</h1>

<br>

<div class = 'container'>

  <%= form_for current_user, url: admin_user_path(current_user), method: 'patch' do |f| %>

    <% name_locals = {
      f:          f,
      label:      'Name',
      attribute:  :name,
      classes:    'form-group col-lg-6',
      required:   true
    } %>

    <%= render partial: 'shared/forms/text', locals: name_locals %>

    <% email_locals = {
      f:          f,
      label:      'Email Address',
      attribute:  :email,
      classes:    'form-group col-lg-6',
      required:   true
    } %>

    <%= render partial: 'shared/forms/email', locals: email_locals %>

    <%= f.submit "Update", class: "btn" %>
  
  <% end %>

</div>