<h4>Next Booking</h4>

<% next_booking = next_booking(current_user) %>

<% if next_booking %>

  <%= link_to next_booking.name, admin_booking_path(next_booking) %><br>
  <%= next_booking.venue.name %><br>
  <%= next_booking.date.strftime("%-m/%-d/%Y") %><br>

<% end %>

<br>

<h4>Last Booking</h4>

<% last_booking = last_booking(current_user) %>

<% if last_booking %>

  <%= link_to last_booking.name, admin_booking_path(last_booking) %><br>
  <%= last_booking.venue.name %><br>
  <%= last_booking.date.strftime("%-m/%-d/%Y") %><br>

<% end %>

<br>