<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "admin", media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :framing do %>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href=<%= home_path %>>VMC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Logout", session_path(session[:user_id]), :method => 'delete', :class => 'nav-link' %>
      </div>
    </div>
  </nav>

  <div class = "console-bars">
    <%= content_tag(:div, class: 'quick-link-bar') do %>
      <h4>Quick Links</h4>
        <%= content_tag(:div, class: 'link-list') do %>
          <div class = "dropdown">
              <button class = "dropdown-toggle" type = "button" id = "dropdownMenuButton" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false" >Create a Resource</button>
              <div class = "dropdown-menu" aria-labelledby = "dropdownMenuButton">
                <a class = "dropdown-item" href = <%= new_venue_path %>>Venue</a>
              </div>
          </div>
        <% end %>
    <% end %>

    <%= content_tag(:div, class: 'venue-overview') do %>
      <%= yield %>
    <% end %>

    <%= content_tag(:div, class: 'feature-bar') do %>
      <h4>Tasks</h4>
      <h4>Next Booking</h4>
      <h4>Last Booking</h4>
    <% end %>
  </div>
<% end %>

<%= render template: 'layouts/application'%>